.welcome-container {
  background-image: url("../../assets/landingPage.JPG");
  background-size: cover; /* This will scale the image to cover the container */
  background-repeat: no-repeat; /* Prevents image from repeating */
  background-position: center 80%; /* Centers the image both horizontally and vertically */
  height: 100vh; /* 100% of viewport height */
  width: 100%; /* 100% of the container's width */
  font-family: 'Neuton', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding: 20px; */
}


.welcome-container h1 {
  font-size: 2rem;
  margin: 0;
  color: white;
  padding-top: 20px;
  padding-right: 80px;
}

.enter-button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 80px;
  background-color: #35A29F;
  color: #071952;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;

}

.enter-button:hover {
  background-color: #071952;
  color: #35A29F;
  cursor: pointer;
}
