/* Add this to your styles.css or a separate CSS file */


.welcome-container {
    background-image: url('../../assets/landingPage.JPG'); /* Update the image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); /* Set transparency by changing the alpha value */
  }
  
  /* Rest of your existing styles for h1 and the button */
  
  
  /* Style for the h1 element */
  .welcome-container h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  /* Style for the enter button */
  .enter-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* You can change the color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
  }
  
  /* Style for the enter button on hover */
  .enter-button:hover {
    background-color: #0056b3; /* You can change the hover color */
    cursor: pointer;
  }
  