<app-header></app-header>
<div class="categories">
    <h1>Airports</h1>
    <button (click)="displayAirports()">x</button>
    <app-airports-dashboard *ngIf="showAirports"></app-airports-dashboard>
</div>
<div class="categories">
    <h1>Airlines</h1>
    <button (click)="displayAirlines()">x</button>
    <app-airline-dashboard *ngIf="showAirlines"></app-airline-dashboard>
</div>
<div class="categories">
    <h1>Aircraft Types</h1>
    <button (click)="displayAircraftTypes()">x</button>
    <app-aircraft-type-dashboard *ngIf="showAircraftTypes"></app-aircraft-type-dashboard>
</div>
<div class="categories">
    <h1>Aircrafts</h1>
    <button (click)="displayAircrafts()">x</button>
    <app-aircraft-dashboard *ngIf="showAircraft"></app-aircraft-dashboard>
</div>