<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Spotting.col</h3>
                <p>gilberto.castano@outlook.es</p>
            </div>
            <div class="col-md-6">
                <ul class="social-icons">
                    <li><a href="https://www.instagram.com/spotting.col/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/gilberto-andres-castano/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/GilCasR" target="_blank"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>